body {
  box-sizing: border-box;
  background-color: gainsboro;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 3%;
  color: coral;
  font-size: 4em;
}

ul {
  list-style: none;
  width: 35%;
  margin: 3% 30%;
  font-size: 1.2em;
  color: deeppink;
}
li {
  margin: 3% 0%;
}
