.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.phoneList ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
}

.phoneList li {
  border: 3px solid #42819D;
  border-radius: 1vw;
  padding: 0.4vw;
  margin: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.phoneList p {
  max-width: 30vw;
  margin: 0.4vw;
}

.detailsBtn {
  padding: 2vh;
  align-self: center;
  background-color: dodgerblue;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.9vw;
}

.closeDetailsBtn {
  padding: 2vh;
  align-self: center;
  background-color: crimson;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.9vw;
}