

body {
  padding-top: 60px;
  font-family: "Quicksand", sans-serif;
  min-width: 750px;

  background-size: cover;
  height: 100vh;
}

.container-app {
  padding: 20px 50px;
  overflow-y: scroll;
  height: 100%;
  position: relative;
}

.nav {
  border-bottom: 2px solid #ccd5ae;
  height: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  position: fixed;
  top:0;
  right: 65px;
  z-index: 1;
}

a {
  color: #ccd5ae;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: #d4a373;
  text-decoration: none;
}

.popup {
  padding: 20px;
  position: absolute;
  margin-left: 33%;
  text-align: center;
  background-color: white;
  visibility:hidden;
}

.open-popup {
  position: absolute;
  margin-left: 33%;
  text-align: center;
  background-color: white;
  visibility:visible;
}

form {
  padding: 10px 0;
}

.form {
  margin: 30px auto;
  text-align: center;
  align-items: center;
  width: 380px;
}

.btn {
  background: #e9edc9;
  border: 1px solid #e9edc9;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
}

.btn:hover {
  background: #faedcd;
  border: 1px solid #faedcd;
  color: black;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* INDEX */

.index-title {
  text-align: center;
  font-size: 5em;
  text-shadow: 4px 4px #FAEDCD;
}

.small-text {
  font-size: 0.75em;
  text-align: center;
  margin-bottom: 40px;
}

/* RECIPES  */

.recipe-filter {
  flex: 1;
  margin-left: 5px;
}

.recipe-filter > * {
  margin-right: 5px;
}

.recipe-filter input {
  flex: 1;
}

.admin-options {
  display: flex;
  flex-direction: row;
}

.admin-options .btn {
  margin-right: 5px;
}

.recipe-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-edit-recipe,
.image-new-recipe {
  border: none;
}

.rating-star-comment {
  margin: 0;
}

/* nav ul {
  border-bottom: 2px solid #CCD5AE;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
} */

/* #to-right {
  padding: 1em;
  float: right;
} */

/* span {
  color: #CCD5AE;
  font-size: 1.5em;
} */

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
}

.food-images {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card {
  background-color: #faf7f0;
  padding: 50px;
  border: none;
  margin: 20px 0;
  border-radius: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto; */
}

.general-card {
  background-color: rgba(212, 215, 193, 0.8);
  padding: 50px;
  border: none;
  margin: 20px 0;
  border-radius: 20px;
}

.contrast-font {
  text-shadow: 0 0 1px #4F5240;
  color: #3E4133;
}

.nav-link {
  text-shadow: 0 0 2px #373A2D;
  color: #3E4133;
}

.search-bar {
  margin-left: 0;
}

.review {
  background-color: #faf7f0;
  padding: 50px;
  border: none;
  margin: 20px 0;
  border-radius: 20px;
}

.justify {
  text-align: justify;
}
.quote-layout {
  text-align: center;
}

.quote {
  background-color: #faf7f0;
  padding: 50px;
  margin: 20px 0;
  border-radius: 20px;
  line-height: 2;
  text-align: center;
}

#quote {
  font-size: 1.5em;
}

#submit {
  margin-bottom: 20px;
}

.username {
  font-size: 1.25em;
}

.login-with-google-btn {

  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}