.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.HomePageWrapper {
  display:flex;
}

.phoneCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 15px;
  padding: 10px;
  background-color: lightblue;

}

.phoneCard img {
  width: 180px;
  margin: 0 auto
}

.phoneCard h1 {
  margin: 0 auto
}

.phoneCard h2 {
  margin: 5px auto
}

.phoneCard p {
  margin: 5px
}

.phoneList {
  background-color: rgb(128, 231, 147);
  padding: 10px;
  border-radius:10px;
  /* border:solid; */
}